body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #ffbc32;
  cursor: default;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  text-shadow: white 3px 4px;
  transform: scale(1, 1.5);
  font-size: 3vw;
  margin: 0;
}

p {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2vw;
  text-align: justify;
  transform: scale(1, 1.5);
}

.header {
  position: fixed;
  width: 100vw;
  height: 8vh;
  top: 0;
  left: 0;
  border-bottom: #333 solid 4px;
  box-shadow: white 0 2px;
  z-index: 10;
  background-color: #ffbc32;
}

.header img {
  display: block;
  margin: 0 auto;
  width: 8vh;
}

.page {
  height: auto;
  max-width: 100%;
  margin: 2vw;
  margin-top: 10vh;
  position: relative;
  border: #333 solid 4px;
  border-radius: 20px 230px;
  background-color: transparent;
  box-shadow: white 4px 4px, white inset 4px 4px;
}

.container {
  padding: 12vh 1vw;
}

.about-us {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center;
}

.about-us-text {
  -ms-flex: 1 1 0px;
      flex: 1 1 0;
  padding: 3vw;
}

.about-us-text p {
  margin: 0;
  padding-top: 5vw;
}

.about-us-img {
  -ms-flex: 1 1 0px;
      flex: 1 1 0;
}

.about-us-img img {
  width: 100%;
  height: auto;
}

.world-map {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.world-map-text {
  -ms-flex: 1 1 0px;
      flex: 1 1 0;
  padding: 3vw;
}

.world-map-text p {
  margin: 0;
  padding-top: 5vw;
}

.world-map img {
  width: 100%;
  height: auto;
}

.places-img {
  display: none;
}

.places-img.is-visible {
  display: block;
}

.what-we-do {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.what-we-do-text {
  -ms-flex: 1 1 0px;
      flex: 1 1 0;
  padding: 3vw;
}

.what-we-do-text p {
  margin: 0;
  padding-top: 5vw;
}

.what-we-do-img {
  position: relative;
  -ms-flex: 1 1 0px;
      flex: 1 1 0;
}

.what-we-do-img img {
  width: 100%;
  height: auto;
}

.what-we-do-img > .grinder {
  position: absolute;
  width: 10vw;
  bottom: 6vw;
  left: 20vw;
}

.what-we-do-img > .drill {
  position: absolute;
  width: 7vw;
  top: -9vw;
  left: 23.5vw;
}

.contact-us {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.contact-us-text {
  -ms-flex: 1 1 0px;
      flex: 1 1 0;
  padding: 3vw 0;
}

.contact-us-text p {
  margin: 0;
  padding-top: 5vw;
}

.mf-background {
  position: relative;
  width: 30vw;
  height: auto;
}

.contact-us-img {
  -ms-flex: 1 1 0px;
      flex: 1 1 0;
  text-align: center;
}

.mf-text {
  position: absolute;
  bottom: 12vh;
  left: 8.5vw;
  width: 31vw;
}

.contact-us-icons {
  padding: 1vw;
  font-family: 'Source Code Pro', monospace;
  font-size: 40px;
}

.contact-us-icons i {
  margin: 5px;
}

div[class$="-icon"] {
  margin: 5px;
  transition-duration: 0.5s;
  width: 25vw;
}

div[class$="-icon"]:hover {
  transition-duration: 1s;
  transform: scale(1.1);
}

.contact-us-link {
  position: absolute;
  width: 24vw;
  height: 3vw;
}

.map-icon > .contact-us-link {
  height: 7vw;
}
/*# sourceMappingURL=style.css.map */