.about-us {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}

.about-us-text {
    flex: 1 1 0;
    padding: 3vw;
}

.about-us-text h1 {
    font-size: 3vw;
    margin: 0;
}

.about-us-text p {
    margin: 0;
    padding-top: 5vw;
}

.about-us-img {
    flex: 1 1 0;
}

.about-us-img img {
    width: 100%;
    height: auto;
}