body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $color-dark;
    background-color: $color-main;
    cursor: default;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
  }

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-shadow:  white 3px 4px;
    transform: scale(1, 1.5);
    font-size: 3vw;
    margin: 0;
}

p {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2vw;
    text-align: justify;
    transform: scale(1, 1.5);
}
