.header {
    position: fixed;
    width: 100vw;
    height: 8vh;
    top: 0;
    left: 0;
    border-bottom: $color-dark solid 4px;
    box-shadow: white 0 2px;   
    z-index: 10;
    background-color: $color-main;
    
}

.header h1 {
    text-align: center;
    justify-content: center;
    text-shadow:  white 3px 3px;
}