.what-we-do {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.what-we-do-text {
    flex: 1 1 0;
    padding: 3vw;
}

.what-we-do-text p {
    margin: 0;
    padding-top: 5vw;
}

.what-we-do-img {
    position: relative;
    flex: 1 1 0;
}

.what-we-do-img img {
    width: 100%;
    height: auto;
}

.what-we-do-img > .grinder {
    position: absolute;
    width: 10vw;
    bottom: 6vw;
    left: 20vw;
}

.what-we-do-img > .drill {
    position: absolute;
    width: 7vw;
    top: -9vw;
    left: 23.5vw;
}

.what-we-do-img > .saw {
    position: absolute;
    width: 6.5vw;
    top: 14vw;
    left: 24.5vw;
}

.what-we-do-img > .sparks {
    position: absolute;
    width: 1vw;
    bottom: 20vw;
    left: 16vw;
}