.world-map {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row-reverse;
}

.world-map-text {
    flex: 1 1 0;
    padding: 3vw;
}

.world-map-text p {
    margin: 0;
    padding-top: 5vw;
}

.world-map img {
    width: 100%;
    height: auto;
}

.places-img {
    display: none;
}

.places-img.is-visible {
    display: block;
}


